<% provide(:title, 'ログイン') %>

<h1 class="page-header">ログイン</h1>

<div class="jumbotron">

  <%= form_for(:session, url: login_path, html: { class: "form-horizontal" }) do |f| %>
    <%#= render "shared/error_messages" %>

    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :email %></dt>
      <dd class="col-sm-7"><%= f.text_field :email, class: "form-control" %><dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :password %></dt>
      <dd class="col-sm-7"><%= f.password_field :password, class: "form-control" %><dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dd class="col-sm-10 col-sm-offset-2">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>ログイン状態を保存する<span>
        <% end %>
      </dd>
    </dl>
  <% end %>

  <div><%= link_to "パスワードを忘れた場合はこちら", new_password_reset_path %></div>
  <div><%= link_to "ユーザー登録がまだの方はこちら", signup_path %></div>

</div>