<% provide(:title, 'Edit user') %>

<h1>Edit @user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', f: f %>
  <dl>
    <dt><%= f.label :avatar %></dt>
    <dd>
      <%= image_tag @user.avatar.thumb.url, width: 200, height: 200 if @user.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <br>
      <label><%= f.check_box :remove_avatar %> Remove avatar</label>
    </dd>
  </dl>
  
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>

<%#= gravatar_for @user %>