<% provide(:title, 'お支払い確認') %>

<h1 class="page-header">お支払い確認</h1>

<div class="jumbotron">
  <div class="media">
    <div class="media-left">
      <p><%= image_tag @medium.poster.thumb.url, width: 160, height: 90, class: "media-object" %></p>
    </div>
    <div class="media-body">
      <p><%= @medium.title %></p>
      <p><%= @medium.price %> <%= @medium.currency.iso_code %></p>
    </div>
  </div>

  <%= form_for @creditcard, url: cart_path, html: { class: "form-horizontal" } do |f| %>
    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :name %></dt>
      <dd class="col-sm-7">
        <%= f.hidden_field :name %>
        <%= @creditcard.name %>
      </dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :number %></dt>
      <dd class="col-sm-7">
        <%= f.hidden_field :number %>
        <%= @creditcard.number %>
      </dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :exp_month %></dt>
      <dd class="col-sm-7">
        <%= f.hidden_field :exp_month %>
        <%= f.hidden_field :exp_year %>
        <%= @creditcard.exp_month %> / <%= @creditcard.exp_year %>
      </dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dt class="col-sm-2"><%= f.label :cvc %></dt>
      <dd class="col-sm-7">
        <%= f.hidden_field :cvc %>
        <%= @creditcard.cvc %>
      </dd>
      <dd class="col-sm-3">&nbsp;</dd>
    </dl>
    <dl class="form-group">
      <dd class="col-sm-10 col-sm-offset-2">
        <%= link_to 'Back', :back, class: "btn btn-default" %>
        <%= f.submit "注文を確定", class: "btn btn-primary" %>
      </dd>
    </dl>
  <% end %>

</div>