<% provide(:title, 'お支払い') %>

<h1 class="page-header">お支払い</h1>

<div class="jumbotron">
  <% if @medium.nil? %>

    <p>カートに商品がありません</p>

  <% else %>
    <div class="media">
      <div class="media-left">
        <p><%= image_tag @medium.poster.thumb.url, width: 160, height: 90, class: "media-object" %></p>
      </div>
      <div class="media-body">
        <p><%= link_to @medium.title, @medium %></p>
        <p><%= @medium.price %> <%= @medium.currency.iso_code %></p>
      </div>
    </div>

    <%= form_for @creditcard, url: confirm_cart_path, html: { class: "form-horizontal" } do |f| %>
      <%= render 'fields', f: f %>
      <dl class="form-group">
        <dd class="col-sm-10 col-sm-offset-2">
          <%= f.submit "注文内容を確認", class: "btn btn-primary" %>
        </dd>
      </dl>
    <% end %>

  <% end %>
</div>