<%= render "shared/error_messages", m: @medium %>

<dl>
  <dt><%= f.label :title %></dt>
  <dd><%= f.text_field :title %></dd>
</dl>
<dl>
  <dt><%= f.label :source %></dt>
  <dd><%= f.text_field :source %></dd>
</dl>
<dl>
  <dt><%= f.label :description %></dt>
  <dd><%= f.text_area :description %></dd>
</dl>
<dl>
  <dt><%= f.label :avatar %></dt>
  <dd>
    <%= image_tag @medium.poster.thumb.url, width: 160, height: 90 if @medium.poster? %>
    <%= f.file_field :poster %>
    <%= f.hidden_field :poster_cache %>
    <br>
    <label><%= f.check_box :remove_poster %> Remove poster</label>
  </dd>
</dl>
<dl>
  <dt><%= label_tag :tags %></dt>
  <dd>
<%#= f.collection_select :tags, Tag.all, :id, :label, {}, multiple: true %>
<%#= f.select :tags, Tag.all.map{ |tag| [tag.label, tag.id] }, {},  multiple: true %>
  <%= select_tag :tags, options_for_select(Tag.all.map{ |tag| [tag.label, tag.id] }),  multiple: true %></dd>
</dl>
<%#= f.fields_for :tags do |tag_f| %>
  <%#= tag_f.label :label %>
<%# end %>
