<% provide(:title, @medium.title) %>

<div class="row">
  <div class="col-sm-8">

    <% unless @ticket.nil? %>
      <% if @ticket.activated? %>
        <div id="wistia_<%= @medium.source %>" class="wistia_embed" style="width:640px;height:360px;">&nbsp;</div>
        <script>
        wistiaEmbed = Wistia.embed("<%= @medium.source %>");
        </script>
      <% elsif @ticket.checked_in? %>
        <%= image_tag @medium.poster.url, width: 640, height: 360, class: "img-responsive" %>

        <%= form_tag(add_to_cart_path(@medium), method: "put", class: "form-inline") do %>
          <%= submit_tag "購入", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <%= image_tag @medium.poster.url, width: 640, height: 360, class: "img-responsive" %>

      <%= form_for(:ticket, url: checkin_path, method: "put", class: "form-inline") do |f| %>
        <%= f.hidden_field :medium_id, value: @medium.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_field :serial_code, value: "", class: "form-control" %>
        <%= f.submit "チェックイン", class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <h1><%= @medium.title %></h1>
    <h2><%= pluralize(@medium.tags.count, "tag") %></h2>
    <ul>
      <% @medium.tags.each do |tag| %>
        <li><%= link_to tag.label, tag %></li>
      <% end %>
    </ul>
    <% if logged_in? && current_user.admin? %>
        <p><%= link_to "Edit", edit_medium_path(@medium) %></p>
    <% end %>

    <p><%= @medium.description %></p>

  <!-- /main-col --></div>
  <div class="col-sm-4">

    <% if logged_in? %>
      <%= form_for(@comment) do |f| %>
        <div class="form-group">
          <%= render "shared/error_messages", m: @comment %>

          <%= f.hidden_field :medium_id, value: @medium.id %>
          <%= f.text_area :body, class: "form-control" %>

          <%= f.submit "Post", class: "btn btn-default" %>
        </div>
      <% end %>
    <% end %>

    <% if @comments.any? %>
      <ul>
      <% @comments.each do |comment| %>
        <li>
          <%= comment.body %> by <%= comment.user.name %>
          <% if current_user?(comment.user) %>
            <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </li>
      <% end %>
      </ul>
      <h2><%= pluralize(@comments.count, "comment") %></h2>
    <% end %>

  <!-- /sub-col --></div>
</div>
